<div class="hs-ideas">
  <div class="hs-intro">
		<div class="col-xs-12">
			<!-- <img src="assets/images/selfie.jpg" class="hs-img"> -->
      <span class="fa fa-lightbulb-o fa-2x hs-img-icon"></span>
		</div>
    <div class="col-xs-12">
      <i class="f-w-5">
        I never give up even if I fail. My philosophy in life - 'Failure must be the stepping stone for success'
      </i>
    </div>
    <div class="col-xs-12 text-center" style="margin: 100px 0px;">
      <button class="btn btn-primary" (click)="scroll(displayMedia)">View my ideas</button>
    </div>
	</div >
  <div class="clearfix"></div>
	<div class="hs-media" #displayMedia>
		<div class="media">
			<div class="media-left media-top">
				<img src="assets/images/ideas/bistrow.jpg" alt="Bistrow" class="hs-media-img">
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<span class="work-title">Bistrow</span>
					<span class="work-year"></span>
					<button class="btn btn-primary disabled pull-right">
						2018 <br>(30 days worked)
					</button>
				</h4>
				<h5 class="media-subtitle">
					<div>Fast and reliable business to food trucks</div>
				</h5>
				<div class="row">
					<div class="col-sm-12">
						<h5 class="work-subtitle">
							<span class="fa fa-sticky-note"></span> &nbsp; Short description
						</h5>
						<p class="work-description text-justify">
							Bistrow is a platform that brings all the food trucks and mobile kitchens in one place. We enable tracking system to the customers and assists them in choosing the closest and the best food truck.
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-user"></span> &nbsp; My role
						</h5>
						<p class="work-description">
							Initiator / Founder
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-users"></span> &nbsp; Team size
						</h5>
						<p class="work-description">
							2
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-link"></span> &nbsp; Social links
						</h5>
						<div class="work-description">
							<ul class="list-inline">
								<li>
									<a href="https://www.facebook.com/Bistrow18/" class="pull-right">
										<span class="fa fa-facebook"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 work-details-list">
					<h5 class="work-subtitle">
						<span class="fa fa-plus-circle"></span> &nbsp; Achievements
					</h5>
					<ul class="work-description-list">
						<li class="col-sm-4">Quick start</li>
						<li class="col-sm-4">Clear idea</li>
						<li class="col-sm-4">Data collection</li>
						<li class="col-sm-6">Detailed documentation of services</li>
						<li class="col-sm-6">Business model</li>
					</ul>
				</div>
				<div>
					<h5 class="work-subtitle">
						<span class="fa fa-minus-circle"></span> &nbsp; Reasons to fail
					</h5>
					<p class="work-description">
						Funding, Team size, Slow implementation.
					</p>
				</div>
			</div>
		</div>
		<hr class="hr">
		<div class="media">
			<div class="media-left media-top">
				<img src="assets/images/ideas/shortub.png" alt="Bistrow" class="hs-media-img">
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<span class="work-title">Shortub</span>
					<span class="work-year"></span>
					<button class="btn btn-primary disabled pull-right">
						2016 - 2017 <br> (400 days worked)
						<!-- <span class="fa fa-ban"></span> Failed -->
					</button>
				</h4>
				<h5 class="media-subtitle">
					<div>India's first shortfilm network</div>
				</h5>

				<div class="row">
					<div class="col-sm-12">
						<h5 class="work-subtitle">
							<span class="fa fa-sticky-note"></span> &nbsp; Short description
						</h5>
						<p class="work-description text-justify">
							Shortub is a creative pool of opportunities for those who look life in short film career. Feel every inner corner of short film.
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-user"></span> &nbsp; My role
						</h5>
						<p class="work-description">
							Initiator
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-users"></span> &nbsp; Team size
						</h5>
						<p class="work-description">
							5-10
						</p>
					</div>
					<div class="col-sm-4">
						<h5 class="work-subtitle">
							<span class="fa fa-link"></span> &nbsp; Social links
						</h5>
						<div class="work-description">
							<ul class="list-inline">
								<li>
									<a href="https://www.facebook.com/shortub/" class="pull-right">
										<span class="fa fa-facebook"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 work-details-list">
					<h5 class="work-subtitle">
						<span class="fa fa-plus-circle"></span> &nbsp; Achievements
					</h5>
					<ul class="work-description-list">
						<li class="col-sm-4">Strong team</li>
						<li class="col-sm-4">Sponsors</li>
						<li class="col-sm-4">Organized events</li>
						<li class="col-sm-6">Conducted a successful competition for writers</li>
						<li class="col-sm-6">Huge applause for competition</li>
					</ul>
				</div>
				<div>
					<h5 class="work-subtitle">
						<span class="fa fa-minus-circle"></span> &nbsp; Reasons to fail
					</h5>
					<p class="work-description">
						Lack of proper documentation and business model.
					</p>
				</div>
			</div>
		</div>
		<hr class="hr">
	</div>
</div>
