/* Write blog page css only */

/* IDS */
#color-pale-white {
  color: #757575;
}

.blog-cards {
  width: calc(100vh / 1);
  border: 1px solid rgba(125, 117, 117, .5);
}

.blog-cards:hover {
  cursor: pointer;
}

.blog-cards > .media-body > h4{
  width: 100px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.hs-blog {
  font-family: "Cabin Condensed", sans-serif;
}

.hs-blog-header {
  color: "#292929" !important;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Cabin Condensed", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.hs-blog-sub-header {
  color: "#868686" !important;
  font-family: "Cabin Condensed", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.005em;
}

.blog-category {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.hs-blog-image {
  width: 250px;
  height: 250px;
  position: relative;
  left: 100px;
  top: 25px;
  text-align: center;
}

.hs-blog-body {
  color: "#868686" !important;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Cabin Condensed", sans-serif;
  font-size: 18px;
  font-weight: 0;
  /*letter-spacing: 0.005em;*/
  letter-spacing: 0.025em;
  padding-bottom: 50px;
  line-height: 28px;
}

/* Media queries */
@media (min-width: 1200px) {
  .hs-blog-container {
    margin-left: 250px;
    margin-right: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1159px) {
  .hs-blog-container {
    margin-left: 150px;
    margin-right: 150px;
  }
}
