/*    Side bar (Small, Extra Small devices)  */
/* ========================================== */

.hs-slide-menu-list{
	height: 100%;
	position: fixed;
	background-color: #1e272e;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	transition: all .3s;
}

.hs-slide-menu-list>li{
	/*text-align: center;*/
	transition: all .3s;
}

.hs-slide-menu-list>li>a{
	display: inline-block;
	width: 100%;
	color: #fff;
	padding-left: 35px;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	line-height: 73px;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.hs-slide-menu-list>li:first-child>a{
	padding: 75px 75px 35px;
	border-bottom: 0px solid #fff;
}

.hs-slide-menu-list>li:not(:first-child)>a:focus,
.hs-slide-menu-list>li:not(:first-child)>a:active,
.hs-slide-menu-list>li:not(:first-child)>a:hover,
.a-active>a{
	cursor: pointer;
	color: #f53b57 !important;
	border-bottom: 1px solid #f53b57 !important;
	background-color: #f1f2f6;
}

.hs-slide-menu-list-xs{
	height: 100%;
	position: fixed;
	background-color: #1e272e;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.hs-slide-menu-list-xs>li>a{
	display: inline-block;
	width: 100%;
	color: #fff;
	padding-left: 35px;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	line-height: 73px;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.hs-slide-menu-list-xs>li:first-child>a{
	padding: 75px 15px 35px;
	border-bottom: 0px solid #fff;
	line-height: 53px;
}

.hs-slide-menu-list-xs>li:not(:first-child)>a:focus,
.hs-slide-menu-list-xs>li:not(:first-child)>a:active,
.hs-slide-menu-list-xs>li:not(:first-child)>a:hover,
.a-active>a{
	cursor: pointer;
	color: #f53b57 !important;
	border-bottom: 1px solid #f53b57 !important;
	border-right: 2px solid #f53b57;
	background-color: #f1f2f6;
}

@media (min-width: 1200px) {
	.hs-slide-menu-list, .hs-slide-menu-list-xs {
		display: none;
		overflow-x: auto;
		z-index: 99;
	}
}

@media (min-width: 992px) and (max-width: 1159px) {
	.hs-slide-menu-list, .hs-slide-menu-list-xs {
		display: none;
		overflow-x: auto;
		z-index: 99;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hs-slide-menu-list, .hs-slide-menu-list-xs {
		display: none;
		overflow-x: auto;
		z-index: 99;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.hs-slide-menu-list, .hs-slide-menu-list-xs {
		display: none;
		overflow-x: auto;
		z-index: 99;
	}
}

@media (max-width: 575px) {
	.hs-slide-menu-list, .hs-slide-menu-list-xs {
		display: none;
		overflow-x: auto;
		z-index: 99;
	}
}