<ul class="hs-slide-menu-list pull-left" *ngIf="!sidebar">
	<li>
		<a href="javascript:void(0)">
			<div class="hs-text-icon">
			NH
			</div>
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='dashboard'}">
		<a routerLink="/dashboard">
			<span class="fa fa-dashboard"></span> &nbsp; dashboard
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='skills'}">
		<a routerLink="/skills">
			<!-- <span class="fa fa-tasks"></span> &nbsp; skills -->
      <span class="fa fa-cloud"></span> &nbsp; skills
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='ideas'}">
		<a routerLink="/ideas">
			<span class="fa fa-lightbulb-o" style="font-size: 23px;"></span> &nbsp; ideas
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='contact'}">
		<a routerLink="/contact">
			<span class="fa fa-address-book"></span> &nbsp; contact
		</a>
	</li>
	<li  [ngClass]="{'a-active': workflow==='blog'}">
		<a routerLink="/blog">
			<span class="fa fa-venus"></span> &nbsp; blog
		</a>
	</li>
</ul>
<ul class="hs-slide-menu-list-xs pull-left" *ngIf="sidebar">
	<li>
		<a href="javascript:void(0)">
			<div class="hs-text-icon-xs">
			NH
			</div>
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='dashboard'}" title="Dashboard">
		<a routerLink="/dashboard">
			<span class="fa fa-dashboard"></span>
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='skills'}" title="Skills">
		<a routerLink="/skills">
			<span class="fa fa-cloud"></span>
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='ideas'}" title="Ideas">
		<a routerLink="/ideas">
			<span class="fa fa-lightbulb-o" style="font-size: 23px;"></span>
		</a>
	</li>
	<li [ngClass]="{'a-active': workflow==='contact'}" title="Contact">
		<a routerLink="/contact">
			<span class="fa fa-address-book"></span>
		</a>
	</li>
	<li  [ngClass]="{'a-active': workflow==='blog'}" title="Blog">
		<a routerLink="/blog">
			<span class="fa fa-venus"></span>
		</a>
	</li>
</ul>
